html {
  scroll-behavior: smooth;
}

body {
  background-image: url("https://www.publicdomainpictures.net/pictures/60000/velka/philadelphia-skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainContent {
  /* max-width: 960px;
  margin: auto; */
  position: relative;
  left: -1000px;
  opacity: 0;
}

#navBox {
  min-height: 300px;
  position: relative;
  left: -1000px;
  opacity: 0;
}

#navBox, .searchBox, .listBox, .mapBox {
  border: 2px solid #12125e;
  background: rgba(244, 230, 191, 0.639) !important;
  border-radius: 15px;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 400% !important;
  color: #12125e;
  text-shadow: 2px 2px white;
}

.h1 {
  font-family: "Oswald", sans-serif;
}

#libertybell {
  border-radius: 4px;
  padding: 5px;
  width: 110px;
  position: relative;
  top: 15px;
}

.weatherBox {
  border: 2px solid #12125e;
  background-color: #ffe700;
  background: none;
}

.parallax {
  /* Set a specific height */
  /* height: 500px; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#weatherBox {
  width: 500px;
  height: 200px;
  background: none;
  position: relative;
  /* animation: weatherScroll 3s 100;
  animation-direction: alternate-reverse; */
}

.demo-1 {
  height: 60px;
  width: 500px;
  overflow: hidden;
  position: relative;
}

.demo-1 h3 {
  font-size: 2em;
  color: yellowgreen;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 40px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: demo-1 15s linear infinite;
  -webkit-animation: demo-1 15s linear infinite;
  animation: demo-1 15s linear infinite;
}

/* Move it (define the animation) */

@-moz-keyframes demo-1 {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes demo-1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes demo-1 {
  0% {
    -moz-transform: translateX(100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(100%);
    /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(-100%);
    /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

/* @keyframes weatherScroll {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
} */

footer {
  background-color: #12125e;
  width: 100%;
  height: 50px;
  text-align: center;
}

#mapArea {
  height: 400px;
  border-color: #12125e;
}

li {
  border: black;
  border: solid;
  border-width: 2px;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.listBox {
  overflow-y: scroll;
  background-color: blue;
  height: 500px;
}

#endBtn {
  height: 30px;
}

.errorMessage {
  font-size: 16px;
  opacity: 50%;
}