html {
  scroll-behavior: smooth;
}

body {
  background-image: url("https://www.publicdomainpictures.net/pictures/60000/velka/philadelphia-skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainContent {
  /* max-width: 960px;
  margin: auto; */
  position: relative;
  left: -1000px;
  opacity: 0;
}

#navBox {
  min-height: 300px;
  position: relative;
  left: -1000px;
  opacity: 0;
}

#navBox,
.searchBox,
.listBox,
.mapBox {
  border: 2px solid #12125e;
  background: rgba(244, 230, 191, 0.639) !important;
  border-radius: 15px;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 400% !important;
  color: #12125e;
  text-shadow: 2px 2px white;
}

.h1 {
  font-family: "Oswald", sans-serif;
}

#libertybell {
  border-radius: 4px;
  padding: 5px;
  width: 110px;
  position: relative;
  top: 15px;
}

/* CZ curved border & changed background color */

.weatherBox {
  border: 2px solid #12125e;
  background: rgba(244, 230, 191, 0.639) !important;
  border-radius: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 24px !important;
}


.parallax {
  /* Set a specific height */
  /* height: 500px; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #weatherBox {
  width: 500px;
  height: 200px;
  background: none;
  position: relative; */
  /* animation: weatherScroll 3s 100;
  animation-direction: alternate-reverse; */



/* @keyframes weatherScroll {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
} */

footer {
  background-color: #12125e;
  width: 100%;
  height: 50px;
  text-align: center;
}

#mapArea {
  height: 400px;
  border-color: #12125e;
}

li {
  border: black;
  border: solid;
  border-radius: 12px;
  border-width: 3px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  font-family: "Oswald", sans-serif;
}

.listBox {
  overflow-y: scroll;
  background-color: blue;
  height: 500px;
}

/* CZ Hide scrollbar for Chrome, Safari and Opera */
.listBox::-webkit-scrollbar {
    display: none !important;
}

/* CZ Hide scrollbar for IE and Edge */
.listBox {
    -ms-overflow-style: none !important;
}
/* <---CZ---> */

#endBtn {
  height: 30px;
  border-radius: 12px;
}
/* <---CZ---> */
#resetBtn {
  height: 30px;
  border-radius: 12px;
}

#add-city {
  height: 30px;
  border-radius: 12px;
}

/* <---CZ---> */
.errorMessage {
  font-size: 16px;
  color: blue;
  font-weight: bold;
}
/* <---CZ---> */
#listArea {
  padding: 0;
  margin: 0;
  margin-left: 40px;
}
#listArea  {
  line-height: 30px;
  list-style-type: none;
}
#listArea li:before  { 
  font-family: FontAwesome; 
  font-size: 30px;
  position: absolute;
  margin-left: -40px;
  content: '\f041';
  color: #12125e;
}
/* 
#listArea  { 
  font-family: "Oswald", sans-serif;
  border-radius: 12px;
  background-color: currentColor;
  margin-top: 10px !important;

} */
/* <--CZ--> */