.searchBox,
.weatherBox,
.listBox,
.mapBox{
    border: solid;
    border-color: black;
}
footer{
    background-color: lightblue;
    width: 100%;
    height: 50px;
    text-align: center;
    
}
#mapArea{
    height: 400px;
    
}